.btn-dark { background: #555; border-color: #222; color: #fff !important; }
.btn-dark:hover { background: #444; }

.redactor-editor { padding: 15px; }

.group-list { margin: 30px 0 50px !important; }
    
    .group-list li { margin-bottom: 8px; }
    .group-name { display: inline-block; padding-right: 30px; width: 180px; }
    .group-list input[type="text"] { width: 180px; }
    .group-list .hideme { display: none !important; }

#group-filters { margin: 0 0 30px; }

    #group-filters li a { transition: .2s ease all; }
    

.vivid-store-side-panel { background: #333c46; padding: 20px; border-radius: 4px; inset 10px 1px 10px rgba(0,0,0,0.12); margin-bottom: 20px; }
   
    .vivid-store-side-panel ul { padding: 0; margin: 0 !important; overflow: auto;}
        .vivid-store-side-panel ul li { float: left; list-style: none; }
            .vivid-store-side-panel ul li a { transition: .2s ease all; color: #97aabc; display: block; padding: 6px 10px; border-radius: 3px; }
            .vivid-store-side-panel ul li a.active { background: rgba(0,0,0,0.2); color: #fff !important; cursor: default; text-decoration: none !important; }
            .vivid-store-side-panel ul li a:hover { text-decoration: none !important; color: #fff; }

@media (min-width: 768px) {
.vivid-store-side-panel { padding-bottom: 80px; }
            .vivid-store-side-panel ul li { float: none; margin-bottom: 8px; }
            .vivid-store-side-panel ul li a { display: block;  }      
}
            
.store-pane { display: none; }
.store-pane.active { display: block; }
    .sortable { cursor: move; text-align: center; }


/* Dynamic Image Selector */
.additional-image { margin-bottom: 20px; background: #f8f8f8; border: 1px solid #ccc; text-align: center; color: #333; }
    .move-shell { padding: 15px; border-right: 1px solid #ccc; background: #ddd; cursor: move; }
        .move-shell .fa-arrows { }
    .select-image { display: block; cursor: pointer; transition: .2s ease all; }
    .select-image:hover { background: #fff; text-decoration: none !important; }
        .select-image i { padding: 15px; }
        .select-image img { max-height: 50px;  }
    .trash-shell { padding: 15px; border-left: 1px solid #ebccd1; cursor: pointer; }
    .trash-shell:hover { color: #a94442 !important; }
        .trash-shell .fa-trash {  }

/* Options */
#product-options-container {  }
    .option-group {  }
    
        .option-group .panel-heading, .option-group .panel-heading .fa-arrows { cursor: move; }
        .option-group .panel-heading .fa-arrows { margin: 3px 0 0; }
        .option-group .panel-heading label { display: block; margin-top: 4px; }
        
#tax-rules-group select { margin-bottom: 8px; }

/* Sales reports */
.chartist-tooltip { position: absolute; background: #414d59; color: #97aabc; padding: 8px 15px; text-align: center; }
.panel-sale {  }
	.panel-sale .panel-heading { background: #414d59; color: #97aabc; }
	.panel-sale .panel-body { background: #fafafa; text-align: center; font-size: 16px; }
		.panel-sale .panel-body .stat { margin-bottom: 15px; }
		.panel-sale .panel-body strong { display: block; font-size: 20px; color: #414d59; }

.order-report-form { margin-top: 15px; }

.ct-chart-line .ct-series.ct-series-a .ct-line { stroke: #4ECDC4; stroke-width: 3px; stroke-linecap: round; }
.ct-chart-line .ct-series.ct-series-a .ct-point { stroke: #4674a1; }
.ct-chart-line .ct-series.ct-series-b .ct-line { stroke: #4674a1; stroke-width: 2px; stroke-linecap: round; }
.ct-chart-line .ct-series.ct-series-b .ct-point { stroke: #414d59; }
.ct-chart-line .ct-series.ct-series-c .ct-line { stroke: #414d59; stroke-width: 2px; stroke-linecap: round; stroke-dasharray: 30px 10px; }
.ct-chart-line .ct-series.ct-series-c .ct-point { stroke: #303b48; }

/* Promotion Rewards/Rules */
.ccm-ui .well.promotion-item { margin: 0 0 10px; box-shadow: none; font-size: .8em; padding: 5px 10px; }
.ccm-ui .well.promotion-item i { margin-top: 2px; cursor: pointer; }
.ccm-ui .panel-footer.add-to-panel-list { padding: 5px 15px; background: #333c46; color: #97aabc; }
    .ccm-ui .panel-footer.add-to-panel-list .panel { background: none; margin: 0; }
        .ccm-ui .panel-footer.add-to-panel-list .panel .panel-heading { background: none; cursor: pointer; padding: 0; border: none; }
        .ccm-ui .panel-footer.add-to-panel-list .panel .panel-body { padding: 0; color: #fff; opacity: 0; overflow: hidden; height: 0; transition: .5s ease all; transform: translateX(100px); }
        .ccm-ui .panel-footer.add-to-panel-list .panel .panel-body.open { height: auto; opacity: 1; padding: 10px 0; transform: translateX(0); }
            .ccm-ui .panel-footer.add-to-panel-list .panel .panel-body ul { margin: 0; padding: 0 15px; list-style: none; }
            .ccm-ui .panel-footer.add-to-panel-list .panel .panel-body a { color: #fff; }

#promotion-reward-forms, #promotion-rule-forms { display: none; }

.vivid-store-dialog {  }
    .vivid-store-dialog .ui-dialog-titlebar {  }
    .vivid-store-dialog .ui-dialog-content {  }

.product-search { position: relative; }
.product-search-results { position: absolute; z-index: 2; display: none; top: 57px; padding: 10px 20px;background: #fff; width: 100%; height: 90px; overflow-y: scroll; border: 1px solid #ccc; box-shadow: 0 0 10px #ccc; }
.product-search-results.active { display: block; }
.product-search-results ul { padding: 0; }
.product-search-results ul li { list-style: none; padding: 2px 5px; cursor: pointer; }
.product-search-results ul li:hover { background: #0088ff; color: #fff; }
.product-search-form .alert { margin-top: 5px; }
